= form_for @assignment do |f|
  - if @assignment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@assignment.errors.count, "error")} prohibited this assignment from being saved:"
      %ul
        - @assignment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :student_id
    = f.number_field :student_id
  .field
    = f.label :class_name
    = f.text_field :class_name
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :assigned
    = f.date_select :assigned
  .field
    = f.label :due
    = f.date_select :due
  .field
    = f.label :possible_score
    = f.number_field :possible_score
  .field
    = f.label :score
    = f.number_field :score
  .field
    = f.label :comments
    = f.text_field :comments
  .actions
    = f.submit 'Save'
