%h1 Listing assignments

%table
  %tr
    %th Student
    %th Class name
    %th Name
    %th Assigned
    %th Due
    %th Possible score
    %th Score
    %th Comments
    %th
    %th
    %th

  - @assignments.each do |assignment|
    %tr
      %td= assignment.student_id
      %td= assignment.class_name
      %td= assignment.name
      %td= assignment.assigned
      %td= assignment.due
      %td= assignment.possible_score
      %td= assignment.score
      %td= assignment.comments
      %td= link_to 'Show', assignment
      %td= link_to 'Edit', edit_assignment_path(assignment)
      %td= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Assignment', new_assignment_path
