!!! 5

%html
  %body
    :css
      body {
        background-color: #fff;
        color: #333;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 13px;
      }
      h2 {
        margin: 20px 0 10px; 
        font-size: 20px;
      }
      
      table, th, td {
        border: 1px solid black;
      }
      table { 
        border-collapse: collapse;
        width: 90%;
      }
      td {
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 12px;
        line-height: 18px;
      }

      .even { background: #ccc; }
      .odd  { background: #fff; }

      .a td { color: darkgreen; font-weight: bold; }
      .c td, .missing td { color: darkred; font-weight: bold; }

      td.center {
        text-align: center;
        white-space: nowrap;
      }


    - @scores.map { |s| s.student }.uniq.each do |student|
      - student_scores = @scores.find_all { |s| s.student == student }
      - student_scores.sort_by! { |s| [s.updated_at.to_i * -1, s.class_name, s.due.to_time.to_i * -1] }
      - missing = @missing.find_all { |s| s.student == student }
      - even = ""

      - if missing.any?
        %h2 
          Missing Assignments for 
          = student

        %table.missing
          %tr
            %th Class
            %th Assignment
            %th Assigned
            %th Due
            %th Possible

          - missing.each do |s|
            - even = (even == "even" ? "odd" : "even")

            %tr(class=even)
              %td= s.class_name
              %td= s.name
              %td.center= s.assigned.to_formatted_s(:month_day)
              %td.center= s.due.to_formatted_s(:month_day)
              %td.center= s.possible_score
        
      %h2
        Recent Assignments for
        = student

      %table
        %tr
          %th Updated
          %th Class
          %th Assignment
          %th Assigned
          %th Due
          %th Possible
          %th Score
          %th Pct

        - even = ""
        - student_scores.each do |s|
          - next if s.score.include? "Missing"
          - grade = s.score == "" ? "no-grade" : s.pct >= 90 ? "a" : s.pct >= 80 ? "b" : "c";
          - even = (even == "even" ? "odd" : "even")

          %tr(class="#{grade} #{even}")
            %td=s.updated_at.in_time_zone("America/Denver").to_formatted_s(:month_day)
            %td= s.class_name
            %td= s.name
            %td.center= s.assigned.to_formatted_s(:month_day) unless s.assigned.nil?
            %td.center= s.due.to_formatted_s(:month_day) unless s.due.nil?
            %td.center= s.possible_score
            %td.center= s.score
            %td.center= s.pct.to_s + "%" unless s.pct.nil?

